@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&family=Rubik+Dirt&display=swap');

* {
    box-sizing: border-box;
   
}
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #fff;
}
#header-main {
    margin: 20px auto 0 auto;
}
#header-text {
    margin: 0;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/images/bg.jpg');
    background-size: 100%;

}
#calculator {
    display: flex;
    flex-direction: column;
    width: 17rem;
    height: 25rem;
    background: white;
    background-size: 100%;
    border-radius: 10px;
    margin: 15px 20px;
    box-shadow: 0 0 16px 5px rgba(0,0,0,0.6);
    padding: .5em;
    align-items: center;   
    
}
.calcName {
    color: #fff;
    margin: 0;
    padding: 0;
    font-weight: 900;
}
#display {
    width: 90%;
    height: 20%;
    background-color: #444;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    outline: 1px solid #333;
    border: none;
}
#answer {
    width: 100%;
    height: 150px;
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 3px;
    overflow: hidden;
}
#output {
    width: 100%;
    height: 3rem;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 5px;
    overflow: hidden;
}

#keypad {
    width: 90%;
    height: 68%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    padding: 10px 0 0 0 ;
    
}
.btn,
.eql {
    width: 100%;
    height: 100%;
    padding: 3px;
}
.btn button {
    border: none;
    width: 100%;
    height: 100%;
}
.number {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(13, 12, 12);
    color: #fffada;
}
.number:hover {
    cursor: pointer;
    background-color: rgb(34, 32, 32);
    font-weight: 900;
}
.operator,
#delete,
#clear {   
    background-color: rgb(13, 42, 56);
    color: #fffada;
    font-weight: 500;
}
.operator:hover,
#delete:hover,
#clear:hover {
    cursor: pointer;
    background-color: rgba(10, 35, 47, 0.904);
    font-weight: 900;
}
.eql {
    grid-area: 5/3/6/5;
}
#equal {
    border: none;
    background-color: rgb(253, 3, 3);
    color: #fffada;
    width: 100%;
    height: 100%;
}
#equal:hover {
    cursor: pointer;
    background-color: rgb(184, 10, 10);
    font-weight: 900;
}
