@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:opsz,wght@8..144,300&family=Rubik+Dirt&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;  
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('/images/bg.jpg');
    background-size: 100%;

}
#calculator {
    display: grid;
    grid-template: 1fr 3fr / 1fr;
    width: 17rem;
    height: 24rem;
    background: white;
    border-radius: 5px;
    margin: 50px auto;
    box-shadow: 0 0 16px 5px rgba(0,0,0,0.6);
    padding: 15px;  
    
}
#display {
    background-color: #444;
    width: 100%;
    margin: 10px auto;
    display: grid;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    outline: 1px solid #333;
    border: none;
}
#answer {
    color: #fff;
    font-size: 1.5em;
    font-weight: 900;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 5px;
    overflow: hidden;
}
#output {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    font-weight: 900;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding: 5px;
    overflow: hidden;
}
#keypad {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template: repeat(5, 1fr) / repeat(4, 1fr);
    
}
.btn,
.eql {
    width: 100%;
    height: 100%;
    padding: 3px;
}
.btn button {
    border: none;
    width: 100%;
    height: 100%;
}
.number {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(13, 12, 12);
    color: #fffada;
}
.number:hover {
    cursor: pointer;
    background-color: rgb(34, 32, 32);
    font-weight: 900;
}
.operator,
#delete,
#clear {   
    background-color: rgb(13, 42, 56);
    color: #fffada;
    font-weight: 500;
}
.operator:hover,
#delete:hover,
#clear:hover {
    cursor: pointer;
    background-color: rgba(10, 35, 47, 0.904);
    font-weight: 900;
}
.eql {
    grid-area: 5/3/6/5;
}
#equal {
    border: none;
    background-color: rgb(253, 3, 3);
    color: #fffada;
    width: 100%;
    height: 100%;
}
#equal:hover {
    cursor: pointer;
    background-color: rgb(184, 10, 10);
    font-weight: 900;
}
