* {
    box-sizing: border-box;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(255,255,255,0.6), rgba(255,255,255,0.6)), url('/images/xubuntu-zesty.png');
}
#container {
    width: 800px ;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
#calculator {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 450px;
    background-color: #222;
    border-radius: 5px;
    margin: 20px;
}
#display {
    width: 300px;
    height: 100px;
    background-color: #666;
    color: #fff;
    font-size: 35px;
    font-weight: 900;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 5px;
    word-wrap: break-word;
}
button {
    width: 60px ;
    height: 60px ;
    border-radius: 50%;
    border: none;
    color: #fff;
    margin: 5px;
}
#keypad {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 5px;
}
.operator, #clear, #delete, #equal{
    background-color: rgb(14, 94, 131);
    font-size: 22px;
    font-weight: 900;
}

.number {
    background-color: #555;
    font-size: 20px;
    font-weight: 900;
}
.empty {
    background-color: #222;
}
